/* Really simple style sheet */
html,
body {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: Sans-Serif;
	color: #333333;
	background-color: #E2E2E2;
}

ul {
}

li {
	list-style: none;
	height: 24px;
}

button {
	float: right;
	margin: 0px 7px 0px 4px;
}

hr {
	border: 0;
	height: 1px;
	background: #333;
	background-image: linear-gradient(to right, #ccc, #333, #ccc);
	clear: both;
}

/* INPUT STYLES */
input[type="text"] {
	display: block;
	margin: 0;
	width: 95%;
	font-family: Sans-Serif;
	font-size: 18px;
	box-shadow: none;
	padding: 10px;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
	margin-bottom: 7px;
}

	input[type="text"]:focus,
	input[type="text"].focus {
		border: solid 1px #707070;
		box-shadow: 0 0 5px 1px #969696;
	}

textarea {
	display: block;
	margin: 0;
	width: 100%;
	font-family: sans-serif;
	font-size: 18px;
	box-shadow: none;
	padding: 10px;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
	margin-bottom: 7px;
}

	textarea:focus,
	textarea.focus {
		border: solid 1px #707070;
		box-shadow: 0 0 5px 1px #969696;
	}

label {
	font-size: 28px;
}

input[type="submit"] {
	display: inline-block;
	margin: 0 10px 0 0;
	padding: 8px 15px;
	font-size: 26px;
	font-family: "Bitter",serif;
	line-height: 1.8;
	box-shadow: none;
	border-radius: 0;
	margin-bottom: 8px;
}

	input[type="submit"]:focus {
		outline: none;
	}

input[type="text"]:read-only {
	background-color: #9f9f9f;
}

/* Editor Window */

.editor {
	display: none;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	border: solid 25px #5c5c5f;
	padding: 8px 8px 25px 8px;
	top: -50px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

/* Display Data */
.display {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.date {
	float: right;
	width:350px;
}

.name {
	float: left;
	width:400px;
}

.req {
	float: left;
}
